

#app header{
  margin-bottom: 2px;
  /* padding: 5px 5px; */
  align-items: center;
  /* background: fixed; */
  background-color: #333;
  max-width: 100%;
  height: 60px;
}

#app header .profilePic{
  margin-left: 20px;
  margin-top: 5px;
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px 50px 50px 50px;
  float: left;
}

#app header .profilePic .profileDefaultIcon{
  height: 30px;
  margin-left: 12px;
  margin-top: 10px;
}

#app header .profileName{
  margin-left: 15px;
  margin-top: 15px;
  color: aliceblue;
  font-style: normal;
  float: left;

}

#app header .settings .settingsIcon{
  height: 30px;
  margin-top: 15px;
  margin-right: 25px;
  float: inline-end;
  color: aliceblue;
}



#app aside{
  background-color: aquamarine;
  width: 400px;
  height: 800px;
}

#app aside .titleChats{
  margin-left: 15px;
  font-weight: bold;
}

#app aside input{
  margin-top: 5px;
  margin-left: 15px;
  height: 25px;
  width: 280px;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
}

#app aside .friend{
  background-color: antiquewhite;
  height: 60px;
  width: 380px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
}